html, body {
  margin: 0;
  height: 100%;
  background-color: #000;
}

.term {
  font-family: 'Courier New', Courier, monospace;
  color: #fafafa;
  line-height: 1.2em;
  font-size: 15px;
  padding-left: 5px;
  padding-bottom: 20px;
  word-wrap: break-word;
  white-space: pre-wrap;
  box-sizing: border-box;
  overflow-y: auto;
  cursor: text;
  height: 100%;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  width: 0;
  height: 0;
}

.cursor {
  display: inline-block;
  vertical-align: text-top;
  background-color: #fafafa;
  width: 9px;
  height: 1.0em;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    visibility: visible;
  }
  50% {
    visibility: visible;
  }
  51% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}